.vscode/
.build/
build/

# clangd index. (".clangd" is a config file now, thus trailing slash)
.clangd/
.cache
*.pb.cc
*.pb.h
*.o
*.log
*.cmake

# rpc demo project
rpc/demo/CMakeFiles
rpc/demo/CMakeCache.txt
rpc/demo/Makefile
rpc/demo/server
rpc/demo/client
